 /*GLOBAL*/ 
body{
 padding-bottom: 50px;
}

p{margin:0}
 .g-bg-white {background-color: #fff;}
 
 .g-bg-gray {background-color: #F6F6F6;}
 
 .g-containter {
  width: 90%; 
  max-width: 950px;
  margin: auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 .g-containter-2 {
  width: 90%;
  max-width: 950px; 
  margin: auto; 
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
 }

 .g-h-flotante{
   margin:auto auto 32px auto;
   text-align: center;
 }

.nav-center{
  margin-left: 340px;
  display: block;
}


/*preguntas*/
 .g-containter-white {
   background-color: #fff;
   width: 100%;
   padding: 18px;
   border-radius: 12px;
   margin: auto auto 22px auto;
  }

  .paginator-btns{
    display: flex;
    justify-content: space-between;
  }

  .paginator-btns a,
  .paginator-btns button{
    width: 49%;
  }

  /*contactar docente*/
  .content-docente{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .content-docente-width{
    min-width: 48%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 12px 0 12px 0;
    gap: 24px;
  }

  .content-estudiantes-width{
    min-width: 48%;
    padding: 12px 0 12px 0;
  }

  .btn-confirm-do{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 16px;
  }

  .v-hr{
    border:none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: auto!important;
    width: 2px;       
  }

  .otros-docentes{
    width: 100%;
  }

  .otro-docente{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .docente{
    display: flex;
    gap: 12px;
  }

  /*Perfiles docentes*/
  .card{
    border-radius: 12px;
  }

  .card .imgd1{
    width: 120px;
    height: 120px;
    margin: 22px auto;
  }


  /*Perfil docente*/
 .g-containter-950 {
  width: 90%;
  max-width: 950px;
  padding: 18px;
  margin: auto auto 22px auto;
 }

  /*Perfil Docente*/
  .horizontal-content{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  .perfil-otros-docentes{
    display: flex;
    padding: 8px 12px;
    border-radius: 25px;
    background-color: #fff;
    flex-wrap: nowrap;
  }

  .perfil-otros-docentes img{
    width: 32px;
    height: 32px;
    margin: auto auto auto 8px;
    border-radius: 50px;
  }

  .perfil-otros-docentes p{
    margin: auto 8px auto 8px;
  }

  .otro-docente img{
    width: 22px;
    height: 22px;
  }

  /*BIBLIOGRAFIA*/

  .biblio-section{
    width: 100%;
    display: flex;
    justify-content: space-between
  }

  .apuntes-section{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info-examen-section{
    width: 34%;
    background-color: #fff;
    padding: 18px;
    border-radius: 12px;
  }

  .apunte-file {
    background-color: #fff;
    width: 100%;
    padding: 8px 16px;
    border-radius: 12px;
    margin: auto auto 12px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .apunte-file span{
     font-size: 24px;
   }




 /*Copy Paste ---------------------------------------------------------------------------*/

 /*ranger propertys*/ 
  .range {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
  }
  
  .range::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
  }
  
  .range[disabled]::-webkit-slider-runnable-track {
    border: 1px solid #d7dbdd;
    background-color: transparent;
    opacity: 0.4;
  }
  
  .range::-moz-range-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
  }
  
  .range::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
  }
  
  .range::-ms-fill-lower { 
    background-color: #d7dbdd;
    border-radius: 3px;
  }
  
  .range::-ms-fill-upper { 
    background-color: #d7dbdd;
    border-radius: 3px;
  }
  
  .range::-ms-tooltip { display: none; /* display and visibility only */ }
  
  .range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #606670;
  }
  
  .range:active::-moz-range-thumb {
    outline: none;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
  }
  
  .range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #d7dbdd;
  }
  
  .range:active::-webkit-slider-thumb {
    outline: none;
  }
  
  .range::-ms-thumb { 
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px; 
    border: none;
  }
  
  .range:active::-ms-thumb {
    border: none;
  }
  
  output {
    border: 1px solid #d7dbdd;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: .4em .6em;
    border-radius: 3px;
  }
  
  .container--dark {
    background-color: #11181d;
    
    h6 {
      color: #ccc;
    }
  
    .range::-webkit-slider-runnable-track {
      background-color: #606670;
    }
    
    .range[disabled]::-webkit-slider-runnable-track {
      border: 1px solid #606670;
      background-color: transparent;
    }
    
    .range::-moz-range-track {
      background-color: #606670;
      border: none;
    }
    
    .range::-ms-fill-lower { 
      background-color: #606670;
    }
  
    .range::-ms-fill-upper { 
      background-color: #606670;
    }
    
    output {
      border: 1px solid #2b3039;
      color: #aaa;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      padding: .4em .6em;
      border-radius: 3px;
    }
    
    .range::-webkit-slider-thumb {
      background-color: #aaa;
      box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
    
    .range[disabled]::-webkit-slider-thumb {
      background-color: transparent;
      border: 1px solid #606670;
      box-shadow: none;
    }
    
    .range::-moz-range-thumb {
      background-color: #aaa;
    }
    
    .range::-ms-thumb { 
      background-color: #aaa;
    }
  }